<div class="product-container">
  <header class="header">
    <nav class="navbar">
      <img class='logo' src="assets/logo.png" alt="Your Logo">
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" id="hamburger-btn">
        <!-- Your hamburger icon SVG code -->
      </label>
      <ul class="links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <div class="buttons">
        <a href="#" class="signin">Sign In</a>
        <a routerLink="/signup" class="signup">Sign Up</a>
      </div>
    </nav>
  </header>

  <section class="hero-section">
    <div class="hero">
      <h2>Travel, enjoy<br> and live a new<br> and full life</h2>
      <p>        Wander far, wander often. Join us on extraordinary journeys, crafting memories that last a lifetime. Let's explore together!
      </p>
      <div class="buttons">
        <a href="#" class="join">Find Tours</a>
      </div>
    </div>
    <div class="img">
      <img src="assets/girl.png" alt="hero image" />
    </div>
  </section>


    <div class="container">
      <h2>Tours</h2>
      <div class="tour-container">
        <div class="tour-card" *ngFor="let tour of tours">
          <img class="tour-image" src="{{tour.images[0]}}" alt="{{ tour.name }}">
          <div class="tour-details">
            <div class="tour-name">{{ tour.name }}</div>
            <div class="tour-price">${{ tour.price }}</div>
            <div class="tour-duration">{{ tour.duration }}</div>
            <a routerLink="/details/{{tour._id}}" class="btn btn-primary product-details-button">View Details</a>
          </div>
        </div>
      </div>
    </div>

</div>