<div class="product-container"> // Define container element
    <h2>Products</h2> // Display product heading
  

    <!-- <form (submit)="addProduct($event)"> // Create product form
      <label for="productName">Product Name:</label> // Label for product name input
      <input type="text" id="productName" name="productName" [(ngModel)]="newProduct.name"> // Input field for product name, binding to newProduct.name
      <br>
  
      <label for="productPrice">Product Price:</label> // Label for product price input
      <input type="number" id="productPrice" name="productPrice" [(ngModel)]="newProduct.price"> // Input field for product price, binding to newProduct.price
      <br>
  
      <button type="submit">Add Product</button> // Submit button to trigger addProduct method
    </form> -->
  </div>